<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/app.css">
    <title>{{page}}</title>
</head>
<body>
    <section>
        <main>
            <article>
                <div class="container">
                    <h1>Instagram</h1>
                        <form action="">
                            <div>
                                <input type="text" placeholder="Usuario">
                            </div>
                            <div>
                                <input type="text" placeholder="Nombre Completo">
                            </div>
                            <div>
                                <input type="text" placeholder="Nombre de Usuario">
                            </div>
                            <div>
                                <input type="password" placeholder="Contraseña">
                            </div>
                            <div>
                                <button>Registrarte</button>
                            </div>
                            <p>Al registrarte, aceptas nuestras Condiciones,</p> 
                            <p>la Política de datos y la Política de cookies.</p>
                        </form>
                </div>
                <div class="container">
                    <p>¿Tienes una cuenta?<a href="/"> Inicia sesión</a></p>
                </div>
            </article>
 
        </main>
    </section>
</body>
</html>