      <!-- This example requires Tailwind CSS v2.0+ -->
      <div class="overflow-y-auto h-3/5 flex flex-1 flex-col mx-2 my-0 mt-4 relative">
        <div class="my-2 overflow-y-scroll overflow-x-hidden sm:mx-4 lg:mx-0">
{{!-- aqui va el contenido del post --}}
        </div>
      </div>
