<div class="relative min-h-screen flex">
    {{>sidebar}}

    <div class="flex flex-col flex-1">
      {{> header}}
      <div class="flex justify-between">
        {{> content}}
        {{> aside}}
      </div>
      {{> footer}}
    </div>

</div>
